<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>resumeServlet</servlet-name>
        <servlet-class>controller.resumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumeServlet</servlet-name>
        <url-pattern>/controller/resumeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>controller.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSelectedServlet</servlet-name>
        <servlet-class>controller.DeleteSelectedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSelectedServlet</servlet-name>
        <url-pattern>/DeleteSelectedServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BalanceServlet</servlet-name>
        <servlet-class>controller.BalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceServlet</servlet-name>
        <url-pattern>/BalanceServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MinusServlet</servlet-name>
        <servlet-class>controller.MinusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MinusServlet</servlet-name>
        <url-pattern>/MinusServlet</url-pattern>
    </servlet-mapping>
</web-app>