div.modal-body{
    width: 70%;
    /* align-items: center;*/
}
div{
    margin-left: 50px;
}
#table1{
    margin-left: 10px;
}
table{
    margin-bottom: 0px;
    text-align: center;
    font-family: verdana,arial,sans-serif;
    font-size:15px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table.hovertable {
    margin-top: 2px;
}
table th {

    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table tr {
   /* background-color:#d4e3e5;*/
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
#message{
    color: red;
    font-weight: bolder;
}

textarea{
    column-span: 4;
}